body
  // background-image url('/img/feathers.png')
  background-image url('/img/school.png')

.bar
  height 6px
  background: -webkit-gradient(linear,right bottom,left bottom,color-stop(0, #5FC3E4),color-stop(1, #E55D88));
  background: -o-linear-gradient(left, #5FC3E4 0%, #E55D88 100%);
  background: -moz-linear-gradient(left, #5FC3E4 0%, #E55D88 100%);
  background: -webkit-linear-gradient(left, #5FC3E4 0%, #E55D88 100%);
  background: -ms-linear-gradient(left, #5FC3E4 0%, #E55D88 100%);
  background: linear-gradient(to left, #5FC3E4 0%, #E55D88 100%);
