//= require bootstrap
/*!!
 * Alex B's Stylesheet
 * Copyright Alex Bierwagen 2014
 */
body
  background-image url('/img/stardust.png')
  padding-top 70px

p
  color #bbb

h1,h2,h3,h4,h5,h6
  color white

.bar
  top 0
  width 100%
  position fixed
  height 6px
  background: -webkit-linear-gradient(90deg, #9357B0 10%, #32A6D5 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #9357B0 10%, #32A6D5 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #9357B0 10%, #32A6D5 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #9357B0 10%, #32A6D5 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #9357B0 10%, #32A6D5 90%); /* W3C */

.navbar
  border-radius 0
  margin-top 6px
