<h1>About</h1>
<div class="page">
  <p><strong>Goal</strong>: The page will talk about who you are and some of the things that you enjoy.</p>
  <p>Required Topics:</p>
  <ul>
    <li>Who Are You?</li>
    <ul>
      <li>What grade are you in? What school do you go to?</li>
      <li>Where have you been in your life?</li>
      <li>What else do you want people to know about you?</li>
    </ul>
    <li>What are 2 of your favorite things?</li>
    <ul>
      <li>What are they? Why do you like them? How did you get into them?</li>
    </ul>
    <li>On of your hobbies and details of your hobby.</li>
    <ul>
      <li>What are they? Why do you like them? How did you get into them?</li>
      <li>What are you favorite parts of them?</li>
    </ul>
  </ul>
  <p>Required Content:</p>
  <ul>
    <li>Navigation Bar (Must link to all of your other pages)</li>
    <li>At least 3 of the following: An Ordered List, an Unordered List, an Image, a Link, a Table</li>
    <li>CSS styling including a background</li>
  </ul>
  <p>Optional Ideas:</p>
  <ul>
    <li>Anything you want!</li>
  </ul>
  <table class="table">
    <tr>
      <th>Topic</th>
      <th>8pt</th>
      <th>9pt</th>
      <th>10pt</th>
    </tr>
    <tr>
      <th>Who are you?</th>
      <td>Content is organized. Who you are is stated.</td>
      <td>Content is organized. Who you are is clearly stated.</td>
      <td>Content is clearly organized.  Who you are is clearly stated.</td>
    </tr>
    <tr>
      <th>What’s your favorite..something</th>
      <td>Content is organized.  Your favorite thing is stated and described.</td>
      <td>Content is organized.  Your favorite thing is clearly stated and described.</td>
      <td>Content is clearly organized.  Your favorite thing is clearly stated and described.</td>
    </tr>
    <tr>
      <th>Hobby and it’s details</th>
      <td>Content is organized. Hobby is stated. Details are stated.</td>
      <td>Content is organized. Hobby is clearly stated, details are clear but may not give an in depth feel of what it is.</td>
      <td>Content is clearly organized.  Hobby is clearly stated.  Details are clearly stated and in depth enough to give a reader a feel of what it is and why it is important.</td>
    </tr>
  </table>
</div>
